extends layout
block content
  h1 United State's Average Income 
  h2
    | If the map is not green, then click&nbsp;
    a(href='setupDB') here
    |&nbsp;to populate it!
  #container
  .well
   h4 Average income by state
   p(style='color:rgb(153,255,153);') Light green: Less than $47,000.
   p(style='color:rgb(0,255,0);') Regular green: $47,000- $53,000.
   p(style='color:rgb(0,125,0);') Dark green: More than $53,000.
