extends layout
block content
  h1 United State's Average Income 
  h2
    | If the map is not green, then click&nbsp;
    a(href='setupDB') here
    |&nbsp;to populate it!
  #container
  .well
   p Light green: Income < $47k
   p Regular green: Income $47-53k
   p Dark green: Income > $53k
   
    h2
  | If the map is not green, then click 
  a(href='setupDB') here
  |&nbsp;to populate it!