doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery.js') 
    script(src='D3/d3.js')
    script(src='topojson/topojson.js')
    script(src='datamap.js')
    script(src='code.js')
  body

    h1 United State Income 
    a(href='setupDB') Populate Data
    #info 
    The This map display the average income of the United State by state. 
    The The drakest blue to the lighest blue show the range of average income from the high to low average income.
    #container
    

