html
head
    title income
    
h1 Incomes by U.S. State
 table(border ='1', style='width: 300px;')
  tr
   th State
   th Income
  each income in incomes
    tr
     tr
      td #{income.State}
      td #{income.Income} 